
@model WildernessOdyssey.Models.Trips
@section header {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />

}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Trips", FormMethod.Get))
{
    <div class=" form-group date-grid row">

        <div class="date_pickercls col-lg-4">
            <label for="seldate">Start Date</label>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "datepicker" } })
            <span class="glyphicon glyphicon-calendar"></span>
        </div>

        <div class="date_pickercls  col-lg-4">
            <label for="seldate">End Date</label>
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "datepicker" } })
            <span class="glyphicon glyphicon-calendar"></span>
        </div>

        <div class="searchbtn  btn-link col-lg-4">
            
                <input type="submit" value="Search" />
          
        </div>

    </div>
}
<script>

    $('.datepicker').datepicker({ "startDate": '+0d', "dateFormat": 'MM/dd/yyyy', "autoclose": true });

</script>
